<div class="float-left p-6">

  <h2 class="text-xl mb-2"><%= @user.name %></h2>

  <div class="mb-4">
    <h2 class="text-xl mb-2">Profile picture:</h2>
    <% if @profile.photo.attached? %>
      <div class="mb-2">
        <%= image_tag @profile.photo, size: "200x200" %>
      </div>
    <% end %>
    <% if @user == current_user %>
      <%= render 'profile_form', profile: @profile %>
    <% end %>
  </div>

  <h2 class="text-xl mb-2">Profile info:</h2>
  <p class="mb-4">
    Name: <%= @user.name %><br>
    Email: <%= @user.email %><br>
    Age: <%= pluralize(@user.age, "year") %> old<br>
  </p>
  <h2 class="text-xl mb-2">Activity:</h2>
  <p>
    <%= pluralize(@user.posts.count, "Post") %><br>
    <%= pluralize(@user.likes.count, "Like") %><br>
    <%= pluralize(@user.comments.count, "Comment") %>
  </p>
</div>

<div class="central_panel">
  <h2 class="text-xl mb-2">Posts:</h2>
  <% @posts.each do |p| %>
    <div class="p-4">
      <%= render '/posts/post', p: p %>
      <%= render 'comments/list_comments', comments: p.comments  %>
    </div>
  <% end %>
</div>
