<div class="container card">

  <h1 class="title">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %>
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li class="error_message">
            <%= msg %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div class="">
      <%= f.label :name, class: "label block" %>
      <%= f.text_field :name, required: true, autofocus: true, class: "input border" %>

      <%= f.label :email, class: "label block" %>
      <%= f.text_field :email, required: true, class: "input" %>
      
      <%= f.label :password, class: "label block" %>
      <%= f.password_field :password, required: true, class: "input" %>

      <%= f.label :password_confirmation, class: "label block" %>
      <%= f.password_field :password_confirmation, required: true, class: "input" %>

      <%= f.label :birthdate, class: "label block" %>
      <%= f.date_field :birthdate, required: true, class: "input" %>

      <div class="mb-2">
        <%= f.label :gender, "Male", class: "label" %>
        <%= f.radio_button :gender, "Male", class: "mr-2" %>

        <%= f.label :gender, "Female", class: "label" %>
        <%= f.radio_button :gender, "Female" %>
      </div>

    </div>

    <div class="my-3">
      <%= f.submit "Sign up", class: "btn-main" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>