<div class="central_panel">
  <h2 class="text-lg pb-2">
    <%= "#{@new_notifications_count} new notification".pluralize(@new_notifications_count) %> found:
  </h2>
  <% @notifications.each do |n| %>
  <% if User.exists?(n.who) %>
    <div class="w-full p-4 my-1 inline-block <%= 'border border-black' if n.created_at >= @cutoff_date %>">
      <p>
        <%= n.who_full_name %> <%= n.message %>
      </p>
      <% if n.family == "friend_request" && Friendship.exists?(n.what) && Friendship.find(n.what).status == "friend_request" %>
      <div class="pt-2">
        <%= link_to 'Accept Friend Request', friendship_path(n.what, n_id: n.id), method: :patch, class:"inline-block btn-small" %>
        <%= link_to 'Dismiss Friend Request', friendship_path(n.what, n_id: n.id), method: :delete, class:"inline-block btn-small-alert " %>
      </div>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>


