<div class="central_panel">
  <h2 class="text-lg pb-2">
    <%= pluralize(@new_notifications_count, "new notification") %> found:
  </h2>
  <% @notifications.each do |n| %>
  <% if User.exists?(n.who) %>
    <div class="w-full p-4 my-1 inline-block <%= 'border border-black' if n.created_at >= @cutoff_date %>">
      <p>
        <%= n.who_full_name %> <%= n.display_msg %><br/>
        <small><%= time_ago_in_words(n.created_at) + " ago." %></small> 
      </p>
    </div>
  <% end %>
  <% end %>
</div>


