<div class="central_panel">
  <h2 class="text-lg pb-2">
    <%= "#{current_user.new_friend_request_count} friend request".pluralize(current_user.new_friend_request_count) %> found:
  </h2>
  <% @new_friend_requests.each do |f| %>
  <% if User.exists?(f.sender_id) %>
    <p>
      <%= f.sender.name %> sent you a friend request! <br/>
      <small><%= time_ago_in_words(f.created_at) + " ago." %></small> 
    </p>
    <div class="pt-2">
      <%= link_to 'Accept Friend Request', friendship_path(f), method: :patch, class:"inline-block btn-small" %>
      <%= link_to 'Dismiss Friend Request', friendship_path(f), method: :delete, class:"inline-block btn-small-alert " %>
    </div>
  <% end %>
  <% end %>
</div>


