<div>
  <strong><%= p.user.name %>:</strong> <%= p.body %><br>
  <small><%= time_ago_in_words(p.created_at) + " ago." %></small><br>
  <% if current_user.likes_this?(p) %>
    <%= link_to post_like_path(p, current_user.this_like_id(p)), method: :delete do %>
      <%= image_tag 'icons/you_like.png', alt:"Friendss", class:"inline-block w-6 mb-1" %>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(p), method: :post do %>
      <%= image_tag 'icons/like.png', alt:"Friends", class:"inline-block w-6 mb-1 opacity-25" %>
    <%  end %>
  <% end %>
  <% if p.likes.any? %>
    <small><%= "#{p.likes.count} like".pluralize(p.likes.count) %>:
      <%= p.likes.map { |l| l.user.name }.join(", ") %>
    </small>
  <% end %>
</div>

