<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>

    <% if notice || alert %>
      <p class="notice px-10 py-4 text-gray-800"><%= notice %></p>
      <p class="alert px-10 text-gray-800"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
