<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="bg-blue-500 py-4 px-4">
      <p class="inline-block text-2xl text-white font-bold">Facebook</p>

      <div class="float-right">
      <% if user_signed_in? %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn-main inline-block" %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn inline-block" %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path, class: "btn-main inline-block" %>
      <% end %>
      </div>
      
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
