<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="bg-blue-500 py-4 px-4">
      <%= link_to 'Facebook', root_path, class:"inline-block text-2xl text-white font-bold" %>
      <% if user_signed_in? %>
        <%= link_to notifications_path, class: "inline-block ml-6" do %>
          <div class="relative">
          <% if current_user.new_notifications? %>
            <%= image_tag 'icons/notification_bell.png', alt:"Notifs", class:"inline-block mb-1 w-6" %>
            <div class="absolute w-6 top-1 text-white text-xs text-center font-light "><%= current_user.new_notifications_count %></div>
          <% else %>
            <%= image_tag 'icons/notifications.png', alt:"Notifs", class:"inline-block mb-1 w-6 opacity-25" %>
          <% end %>
          </div>
        <% end %>
        <div class="inline-block ml-6">
          <%= form_with(url: "/search", method: :get, local: true ) do |f| %>
            <%= f.text_field :q, class: "px-2 py-1 inline-block" %>
            <%= f.submit "Find friend", class:"btn-small ml-2" %>
          <% end %>
        </div>
        
        <div class="float-right inline-block">
          <div class="relative">
            <button class="inline-block pt-2 pr-8 text-white"><%= current_user.name %></button>
            <div class="absolute right-0 w-32 bg-white py-2 rounded shadow-lg">
              <%= link_to 'Edit Profile', edit_user_registration_path, class: "block py-2 pl-6 hover:bg-blue-500 hover:text-white" %>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "block py-2 pl-6 hover:bg-blue-500 hover:text-white" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="float-right inline-block">
          <%= link_to 'Log in', new_user_session_path, class: "btn-small inline-block" %>
        </div>
      <% end %>
    </nav>

    <% if notice || alert %>
      <p class="notice px-10 py-4 text-gray-800"><%= notice %></p>
      <p class="alert px-10 text-gray-800"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
